body {
    background-color: rgb(87, 82, 82) !important;
}

.navbar {
    font-family: 'Michroma', sans-serif;
}

.btn.btn-light {
    background-color: rgb(172, 52, 172);
    color:aliceblue;
}

.row {
    font-family: 'Michroma', sans-serif;
}

.card-body {
    background-color: rgb(86, 86, 88);
    color: aliceblue;
}

.media-body {
    font-size: 10px;
}

.media {
    height: 50px;
    width:50px;
}

/* Playlist */

#playlist {
    background-color: #343a40;
    font-family: 'Michroma', sans-serif;
}



